/* variables */
:root {
--lavender: #D9D3E9;
--dkpurple: #2A136D;
--ltpurple: #BB5BE6;
--dkgray: #878588;
}

/* keyframes */
@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

/* element styles */
html,body {
    margin: 0;
    padding: 0;
}


/* oo classes */
.container {
    margin: 0 30px;
}

/* media queries */
@media screen and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 1119px) {
}