/* element styles */
html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

aside, main {
    flex-grow: 1;
}

button {
    background-color: #6991e3;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
    width: 100%;
}

footer {
    background-color: #888;
    color: #fff;
    flex-shrink: 0;
    font-size: 12px;
    text-align: center;
}

h1 {
    text-align: center;
}

header {
    background: -webkit-linear-gradient(90deg, #4558b6, #261360);
    background: -moz-linear-gradient(90deg, #4558b6, #261360);
    background: linear-gradient(90deg, #4558b6, #261360);
    color: #fff;
    margin-bottom: 30px;
    padding: 1px;
}

input {
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 10px 5px;
    width: 100%;
}

input:outline, input:focus, input:focus-visible {
    border-color: lightgreen;
}

/* oo classes */
.city-details-css {
    background-color: #e3e3e3;
    border: 2px solid #777;
    padding: 20px;
}

.city-details h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.city-details img {
    vertical-align: middle;
}

.city-details div {
    margin-bottom: 10px;
}

.city-search {
    padding-bottom: 15px;
    border-bottom: 1px solid #777;
    margin-bottom: 15px;
}
.container {
    margin-bottom: 30px;
}

.five-day-cards > div {
    background-color: #323d4f;
    color: #fff;
    margin-bottom: 15px;
    padding: 10px;
}

.five-day-cards > div div{
    padding: 10px 0;
}

.five-day-cards img {
    display: block;
}

.main {
    margin: 0 auto;
    min-height: 83vh;
}

[class*='search-'] {
    background-color: #aeaeae;
    color: #000;
    cursor: pointer;
    margin-bottom: 15px;
}


/* media queries */
@media screen and (max-width: 375px) {
}

@media screen and (min-width: 376px) and (max-width: 1119px) {
}